# Programming Principles
* Readability counts!
* "Programs are written for other people to read, and only incidentally for computers to execute" –Hal Abelson
* "Testing does not prove the absence of bugs, only their existence" –Edsger Dijkstra
* Eagleson's Law: Any code written more than 6 months ago might as well have been written by someone else
* Prefer clear code to comments –DWS
* I don't recommend doing these things:
  * changing the type of a variable mid-program
* The three banes of existence for programmers are:
  * uninitialized variables
  * off by one errors
* DRY = Don't Repeat Yourself
* You read code 10x more than you write it!
* beginner important stuff:
  * write down all steps
  * convert each step to Python
  * you "can't go wrong"
  * break down problems into subproblems
* "Premature optimization is the root of all evil (or at least most it)" –Donald Knuth
* Efficiency does't matter until it matters, and it rarely matters. –DWS
  * programmers are notoriously bad about determining what is slowing down their program
* "Mechanical Sympathy"
  * knowing how things work under the hood means you can use them better
* Software would be easy if it weren't for the user!

# Qualities of a good programmer
* not math!
* critical thinking
* attention to detail
* tenacity
* opinionated
  * be open to changing your mind

# Important things about Python
* raison d'être of Python was text/file manipulation, reaction to Perl
* everything is an object
  * everything is in memory and we can inspect it
  * objects have attributes (data inside them) and can have methods (functions)
* basic types vs. containers
  * basic types (scalars): int, float, str, bool
  * containers: str, list, tuple, dict, set
* mutable vs. immutable types
  * mutable: list, dict, set
  * immutable: str, tuple
* Python practices "truthiness"
  * 0 and 0.0 are considered False; non-zero are considered True
  * empty containers are considered False; non-empty containers are considered True
  * None is considered False
* built-in functions don't change the objects that are passed to them
  * if you want to change an object, you must invoke a method on it
    * not all methods change the objects they are invoked on
* Python is "duck typed"
  * if it walks like a duck and it quacks like a duck, I'm going to call it a duck
  * any type will suffice as long as it has some property/feature I'm interested in

## "Pythonic"
* use negative indexing to get at the end of a container
  * last 3 items in a container: container[-3:]
  * first 3 items in a container: container[:3]
* chaining function calls w/in reason
* truthiness in Boolean expressions
* don't use indexing in for loops (unless you need it)
* when making a list of string, prefer to .split() it
* use the __`for _ in range(n)`__ construct when you want to just do something n times

# Importants things about teaching/learning
* know when to zoom in / zoom out
  * i.e., when to go down a rabbit hole (or not)

# Parking Lot
* case statements

In [3]:
num = 5

In [4]:
type(num)

int

In [5]:
num = 5.5

In [6]:
type(num)

float

In [7]:
num = 'hello'

In [9]:
id(num)

140400609759920

In [10]:
name = 'Dave'

In [11]:
id(name)

140400874978736

In [12]:
import math

In [13]:
math.sin(math.pi / 2.0)

1.0

In [14]:
id(math)

140401142398464

In [15]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [16]:
id(this)

140401141877952

In [18]:
this.__file__

'/Users/dave-wadestein/opt/anaconda3/lib/python3.9/this.py'

In [19]:
x: int = 1

In [23]:
%%python
x: int = 1

In [24]:
x

1

In [25]:
x = 1.5

In [27]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [28]:
name # evaluating an expression

'Dave'

In [30]:
print(name) # printing something

Dave

In [31]:
name

'Dave'

In [34]:
# when we are in a cell...
# Python treats all lines in the cell as a "program"
# except for the last line which is evalauated in "interactive mode"
print(name)
print('hi')

Dave
hi

In [35]:
x = 2 # in program mode, we will create a var called x and give it a value of 2
2 * x + 5 # computer 4 + 5 = 9, but we're in program mode, so nothing is shown
print(x)

2

In [36]:
x = 2 # in program mode, we will create a var called x and give it a value of 2
print(2 * x + 5)
print(x)

9
2

In [37]:
name

'Dave'

In [38]:
print(name)

Dave

In [41]:
type(name) # Jupyter is doing us a favor and saving us from something that's potentially confusing

str

In [40]:
print(type(name))

<class 'str'>

In [43]:
%%python2
print 'Hello there', 1, 2, 3

Couldn't find program: 'python2'

In [44]:
print 'hi'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hi')? (971685732.py, line 1)

In [45]:
print(1, 2, 3, end=' ')
print(4, 5, 6)

1 2 3 4 5 6

In [46]:
x = 4

In [47]:
if x == 4:
    print('x is 4')

x is 4

In [48]:
if x: # != 0 or 0.0
    print('yes')

yes

In [49]:
bool(x)

True

In [50]:
bool(0.0)

False

In [51]:
num = input('Enter a number: ')

Enter a number:  45

In [52]:
num

'45'

In [53]:
int(num)

45

In [54]:
'b' in 'Starbucks'

True

In [55]:
'buck' in 'Starbucks'

True

In [56]:
import random

In [57]:
id(random)

140400736289072

In [58]:
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_floor',
 '_inst',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [59]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [60]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

In [62]:
random.randint(1, 100)

21

In [63]:
import math
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [64]:
help(math.sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [65]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.9/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/dave-wadestein/opt/anaconda3/lib/python3.9/lib-dynload/math.cpython-39-darwin.so

In [67]:
i = 1
while i <= 5:
    print(i)
    i += 1
print('done')

1
2
3
4
5
done

In [68]:
for times in range(10):
    print('yep', times)

yep 0
yep 1
yep 2
yep 3
yep 4
yep 5
yep 6
yep 7
yep 8
yep 9

## Quick Lab: Loops/Strings
* have the user enter a string, then loop through the string to generate (or print) a new string in which every character is duplicated, e.g., "Python" => "PPyytthhoonn"

In [72]:
string = input('Enter: ')
for letter in string:# for thing in container
    print(letter * 2, end='')

Enter:  oleander

oolleeaannddeerr

In [73]:
# or...
for letter in string:
    print(letter + letter, end='')

oolleeaannddeerr

In [74]:
# or ...
for letter in string:
    print(letter, letter, sep='', end='')

oolleeaannddeerr

In [75]:
new_string = ''
for letter in string:
    new_string += letter * 2
    
print(new_string)

oolleeaannddeerr

## Lab: Loops
* Loop through the numbers from 2 to 25 and print out which numbers are prime, and for those numbers which are not prime numbers, you should print them as a product of two factors
* Remember that prime = no divisors other than 1 and itself
* Don't worry about efficiency, but if you're interested, check out math.sqrt()
* example output:
<pre>
2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3
10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 equals 3 * 5
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number
20 equals 2 * 10
21 equals 3 * 7
22 equals 2 * 11
23 is a prime number
24 equals 2 * 12
25 equals 5 * 5
</pre>

In [69]:
# for each number from 2 .. 25
#    for each possible divisor from 2 up to number - 1
#.      does it divide in ?
#.        if yes, then not prime...

In [79]:
# One other strategy for those who are not daily programmers...
# Build up your solution incrementally
# Sometimes it's a good starting point to validate your assumptions
for num in range(2, 26): # 2..25
    # let's print each number and then list all possible divisors
    print(num, end=': ') # don't go to next line
    for divisor in range(2, num): # note that this means 2..num-1 (what we want), as per Dijkstra
        print(divisor, end=' ') # print each potential divisor, followed by space
    print() # now go to next line

2:
3: 2
4: 2 3
5: 2 3 4
6: 2 3 4 5
7: 2 3 4 5 6
8: 2 3 4 5 6 7
9: 2 3 4 5 6 7 8
10: 2 3 4 5 6 7 8 9
11: 2 3 4 5 6 7 8 9 10
12: 2 3 4 5 6 7 8 9 10 11
13: 2 3 4 5 6 7 8 9 10 11 12
14: 2 3 4 5 6 7 8 9 10 11 12 13
15: 2 3 4 5 6 7 8 9 10 11 12 13 14
16: 2 3 4 5 6 7 8 9 10 11 12 13 14 15
17: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
18: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
19: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
20: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
21: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
22: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
23: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
24: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
25: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [82]:
# looks good, so we can proceed
# now we can actually do the problem
# if the above didn't work, there would be point in going
# further until we fixed it
for num in range(2, 25):
    for divisor in range(2, num):
        if num % divisor == 0: # divides evenly
            print(num, 'equals', divisor, '*', num // divisor)
            break # no need to keep checking
    else: # here's a good use for an else
        # we're only here if no break, i.e., no divisors
        print(num, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3
10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 equals 3 * 5
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number
20 equals 2 * 10
21 equals 3 * 7
22 equals 2 * 11
23 is a prime number
24 equals 2 * 12

In [85]:
# consider efficiency
import math

for num in range(2, 2500):
    for divisor in range(2, int(math.sqrt(num) + 1)):
        if num % divisor == 0: # divides evenly
            print(num, 'equals', divisor, '*', num // divisor)
            break # no need to keep checking
    else: # here's a good use for an else
        # we're only here if no break, i.e., no divisors
        print(num, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3
10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 equals 3 * 5
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number
20 equals 2 * 10
21 equals 3 * 7
22 equals 2 * 11
23 is a prime number
24 equals 2 * 12
25 equals 5 * 5
26 equals 2 * 13
27 equals 3 * 9
28 equals 2 * 14
29 is a prime number
30 equals 2 * 15
31 is a prime number
32 equals 2 * 16
33 equals 3 * 11
34 equals 2 * 17
35 equals 5 * 7
36 equals 2 * 18
37 is a prime number
38 equals 2 * 19
39 equals 3 * 13
40 equals 2 * 20
41 is a prime number
42 equals 2 * 21
43 is a prime number
44 equals 2 * 22
45 equals 3 * 15
46 equals 2 * 23
47 is a prime number
48 equals 2 * 24
49 equals 7 * 7
50 equals 2 * 25
51 equals 3 * 17
52 equals 2 * 26
53 is a prime number
54 equals 2 * 27
55 equals 5 * 11
56 equals 2 * 28
57 equals 3 * 19
58 equals 2 * 29
59 is a prime number
60 equals 2 * 30
61 is a prime number
62 equals 2 * 31
63 equals 3 * 21
64 equals 2 * 32
65 equals 5 * 13
66 equals 2 * 33
67 is a prime number
68 equals 2 * 34
69 equals 3 * 23
70 equals 2 * 35
71 is a prime number
72 equals 2 * 36
73 is a prime number
74 equals 2 * 37
75 equals 3 * 25
76 equals 2 * 38
77 equals 7 * 11
78 equals 2 * 39
79 is a prime number
80 equals 2 * 40
81 equals 3 * 27
82 equals 2 * 41
83 is a prime number
84 equals 2 * 42
85 equals 5 * 17
86 equals 2 * 43
87 equals 3 * 29
88 equals 2 * 44
89 is a prime number
90 equals 2 * 45
91 equals 7 * 13
92 equals 2 * 46
93 equals 3 * 31
94 equals 2 * 47
95 equals 5 * 19
96 equals 2 * 48
97 is a prime number
98 equals 2 * 49
99 equals 3 * 33
100 equals 2 * 50
101 is a prime number
102 equals 2 * 51
103 is a prime number
104 equals 2 * 52
105 equals 3 * 35
106 equals 2 * 53
107 is a prime number
108 equals 2 * 54
109 is a prime number
110 equals 2 * 55
111 equals 3 * 37
112 equals 2 * 56
113 is a prime number
114 equals 2 * 57
115 equals 5 * 23
116 equals 2 * 58
117 equals 3 * 39
118 equals 2 * 59
119 equals 7 * 17
120 equals 2 * 60
121 equals 11 * 11
122 equals 2 * 61
123 equals 3 * 41
124 equals 2 * 62
125 equals 5 * 25
126 equals 2 * 63
127 is a prime number
128 equals 2 * 64
129 equals 3 * 43
130 equals 2 * 65
131 is a prime number
132 equals 2 * 66
133 equals 7 * 19
134 equals 2 * 67
135 equals 3 * 45
136 equals 2 * 68
137 is a prime number
138 equals 2 * 69
139 is a prime number
140 equals 2 * 70
141 equals 3 * 47
142 equals 2 * 71
143 equals 11 * 13
144 equals 2 * 72
145 equals 5 * 29
146 equals 2 * 73
147 equals 3 * 49
148 equals 2 * 74
149 is a prime number
150 equals 2 * 75
151 is a prime number
152 equals 2 * 76
153 equals 3 * 51
154 equals 2 * 77
155 equals 5 * 31
156 equals 2 * 78
157 is a prime number
158 equals 2 * 79
159 equals 3 * 53
160 equals 2 * 80
161 equals 7 * 23
162 equals 2 * 81
163 is a prime number
164 equals 2 * 82
165 equals 3 * 55
166 equals 2 * 83
167 is a prime number
168 equals 2 * 84
169 equals 13 * 13
170 equals 2 * 85
171 equals 3 * 57
172 equals 2 * 86
173 is a prime number
174 equals 2 * 87
175 equals 5 * 35
176 equals 2 * 88
177 equals 3 * 59
178 equals 2 * 89
179 is a prime number
180 equals 2 * 90
181 is a prime number
182 equals 2 * 91
183 equals 3 * 61
184 equals 2 * 92
185 equals 5 * 37
186 equals 2 * 93
187 equals 11 * 17
188 equals 2 * 94
189 equals 3 * 63
190 equals 2 * 95
191 is a prime number
192 equals 2 * 96
193 is a prime number
194 equals 2 * 97
195 equals 3 * 65
196 equals 2 * 98
197 is a prime number
198 equals 2 * 99
199 is a prime number
200 equals 2 * 100
201 equals 3 * 67
202 equals 2 * 101
203 equals 7 * 29
204 equals 2 * 102
205 equals 5 * 41
206 equals 2 * 103
207 equals 3 * 69
208 equals 2 * 104
209 equals 11 * 19
210 equals 2 * 105
211 is a prime number
212 equals 2 * 106
213 equals 3 * 71
214 equals 2 * 107
215 equals 5 * 43
216 equals 2 * 108
217 equals 7 * 31
218 equals 2 * 109
219 equals 3 * 73
220 equals 2 * 110
221 equals 13 * 17
222 equals 2 * 111
223 is a prime number
224 equals 2 * 112
225 equals 3 * 75
226 equals 2 * 113
227 is a prime number
228 equals 2 * 114
229 is a prime number
230 equals 2 * 115
231 equals 3 * 77
232 equals 2 * 116
233 is a prime number
234 equals 2 * 117
235 equals 5 * 47
236 equals 2 * 118
237 equals 3 * 79
238 equals 2 * 119
239 is a prime number
240 equals 2 * 120
241 is a prime number
242 equals 2 * 121
243 equals 3 * 81
244 equals 2 * 122
245 equals 5 * 49
246 equals 2 * 123
247 equals 13 * 19
248 equals 2 * 124
249 equals 3 * 83
250 equals 2 * 125
251 is a prime number
252 equals 2 * 126
253 equals 11 * 23
254 equals 2 * 127
255 equals 3 * 85
256 equals 2 * 128
257 is a prime number
258 equals 2 * 129
259 equals 7 * 37
260 equals 2 * 130
261 equals 3 * 87
262 equals 2 * 131
263 is a prime number
264 equals 2 * 132
265 equals 5 * 53
266 equals 2 * 133
267 equals 3 * 89
268 equals 2 * 134
269 is a prime number
270 equals 2 * 135
271 is a prime number
272 equals 2 * 136
273 equals 3 * 91
274 equals 2 * 137
275 equals 5 * 55
276 equals 2 * 138
277 is a prime number
278 equals 2 * 139
279 equals 3 * 93
280 equals 2 * 140
281 is a prime number
282 equals 2 * 141
283 is a prime number
284 equals 2 * 142
285 equals 3 * 95
286 equals 2 * 143
287 equals 7 * 41
288 equals 2 * 144
289 equals 17 * 17
290 equals 2 * 145
291 equals 3 * 97
292 equals 2 * 146
293 is a prime number
294 equals 2 * 147
295 equals 5 * 59
296 equals 2 * 148
297 equals 3 * 99
298 equals 2 * 149
299 equals 13 * 23
300 equals 2 * 150
301 equals 7 * 43
302 equals 2 * 151
303 equals 3 * 101
304 equals 2 * 152
305 equals 5 * 61
306 equals 2 * 153
307 is a prime number
308 equals 2 * 154
309 equals 3 * 103
310 equals 2 * 155
311 is a prime number
312 equals 2 * 156
313 is a prime number
314 equals 2 * 157
315 equals 3 * 105
316 equals 2 * 158
317 is a prime number
318 equals 2 * 159
319 equals 11 * 29
320 equals 2 * 160
321 equals 3 * 107
322 equals 2 * 161
323 equals 17 * 19
324 equals 2 * 162
325 equals 5 * 65
326 equals 2 * 163
327 equals 3 * 109
328 equals 2 * 164
329 equals 7 * 47
330 equals 2 * 165
331 is a prime number
332 equals 2 * 166
333 equals 3 * 111
334 equals 2 * 167
335 equals 5 * 67
336 equals 2 * 168
337 is a prime number
338 equals 2 * 169
339 equals 3 * 113
340 equals 2 * 170
341 equals 11 * 31
342 equals 2 * 171
343 equals 7 * 49
344 equals 2 * 172
345 equals 3 * 115
346 equals 2 * 173
347 is a prime number
348 equals 2 * 174
349 is a prime number
350 equals 2 * 175
351 equals 3 * 117
352 equals 2 * 176
353 is a prime number
354 equals 2 * 177
355 equals 5 * 71
356 equals 2 * 178
357 equals 3 * 119
358 equals 2 * 179
359 is a prime number
360 equals 2 * 180
361 equals 19 * 19
362 equals 2 * 181
363 equals 3 * 121
364 equals 2 * 182
365 equals 5 * 73
366 equals 2 * 183
367 is a prime number
368 equals 2 * 184
369 equals 3 * 123
370 equals 2 * 185
371 equals 7 * 53
372 equals 2 * 186
373 is a prime number
374 equals 2 * 187
375 equals 3 * 125
376 equals 2 * 188
377 equals 13 * 29
378 equals 2 * 189
379 is a prime number
380 equals 2 * 190
381 equals 3 * 127
382 equals 2 * 191
383 is a prime number
384 equals 2 * 192
385 equals 5 * 77
386 equals 2 * 193
387 equals 3 * 129
388 equals 2 * 194
389 is a prime number
390 equals 2 * 195
391 equals 17 * 23
392 equals 2 * 196
393 equals 3 * 131
394 equals 2 * 197
395 equals 5 * 79
396 equals 2 * 198
397 is a prime number
398 equals 2 * 199
399 equals 3 * 133
400 equals 2 * 200
401 is a prime number
402 equals 2 * 201
403 equals 13 * 31
404 equals 2 * 202
405 equals 3 * 135
406 equals 2 * 203
407 equals 11 * 37
408 equals 2 * 204
409 is a prime number
410 equals 2 * 205
411 equals 3 * 137
412 equals 2 * 206
413 equals 7 * 59
414 equals 2 * 207
415 equals 5 * 83
416 equals 2 * 208
417 equals 3 * 139
418 equals 2 * 209
419 is a prime number
420 equals 2 * 210
421 is a prime number
422 equals 2 * 211
423 equals 3 * 141
424 equals 2 * 212
425 equals 5 * 85
426 equals 2 * 213
427 equals 7 * 61
428 equals 2 * 214
429 equals 3 * 143
430 equals 2 * 215
431 is a prime number
432 equals 2 * 216
433 is a prime number
434 equals 2 * 217
435 equals 3 * 145
436 equals 2 * 218
437 equals 19 * 23
438 equals 2 * 219
439 is a prime number
440 equals 2 * 220
441 equals 3 * 147
442 equals 2 * 221
443 is a prime number
444 equals 2 * 222
445 equals 5 * 89
446 equals 2 * 223
447 equals 3 * 149
448 equals 2 * 224
449 is a prime number
450 equals 2 * 225
451 equals 11 * 41
452 equals 2 * 226
453 equals 3 * 151
454 equals 2 * 227
455 equals 5 * 91
456 equals 2 * 228
457 is a prime number
458 equals 2 * 229
459 equals 3 * 153
460 equals 2 * 230
461 is a prime number
462 equals 2 * 231
463 is a prime number
464 equals 2 * 232
465 equals 3 * 155
466 equals 2 * 233
467 is a prime number
468 equals 2 * 234
469 equals 7 * 67
470 equals 2 * 235
471 equals 3 * 157
472 equals 2 * 236
473 equals 11 * 43
474 equals 2 * 237
475 equals 5 * 95
476 equals 2 * 238
477 equals 3 * 159
478 equals 2 * 239
479 is a prime number
480 equals 2 * 240
481 equals 13 * 37
482 equals 2 * 241
483 equals 3 * 161
484 equals 2 * 242
485 equals 5 * 97
486 equals 2 * 243
487 is a prime number
488 equals 2 * 244
489 equals 3 * 163
490 equals 2 * 245
491 is a prime number
492 equals 2 * 246
493 equals 17 * 29
494 equals 2 * 247
495 equals 3 * 165
496 equals 2 * 248
497 equals 7 * 71
498 equals 2 * 249
499 is a prime number
500 equals 2 * 250
501 equals 3 * 167
502 equals 2 * 251
503 is a prime number
504 equals 2 * 252
505 equals 5 * 101
506 equals 2 * 253
507 equals 3 * 169
508 equals 2 * 254
509 is a prime number
510 equals 2 * 255
511 equals 7 * 73
512 equals 2 * 256
513 equals 3 * 171
514 equals 2 * 257
515 equals 5 * 103
516 equals 2 * 258
517 equals 11 * 47
518 equals 2 * 259
519 equals 3 * 173
520 equals 2 * 260
521 is a prime number
522 equals 2 * 261
523 is a prime number
524 equals 2 * 262
525 equals 3 * 175
526 equals 2 * 263
527 equals 17 * 31
528 equals 2 * 264
529 equals 23 * 23
530 equals 2 * 265
531 equals 3 * 177
532 equals 2 * 266
533 equals 13 * 41
534 equals 2 * 267
535 equals 5 * 107
536 equals 2 * 268
537 equals 3 * 179
538 equals 2 * 269
539 equals 7 * 77
540 equals 2 * 270
541 is a prime number
542 equals 2 * 271
543 equals 3 * 181
544 equals 2 * 272
545 equals 5 * 109
546 equals 2 * 273
547 is a prime number
548 equals 2 * 274
549 equals 3 * 183
550 equals 2 * 275
551 equals 19 * 29
552 equals 2 * 276
553 equals 7 * 79
554 equals 2 * 277
555 equals 3 * 185
556 equals 2 * 278
557 is a prime number
558 equals 2 * 279
559 equals 13 * 43
560 equals 2 * 280
561 equals 3 * 187
562 equals 2 * 281
563 is a prime number
564 equals 2 * 282
565 equals 5 * 113
566 equals 2 * 283
567 equals 3 * 189
568 equals 2 * 284
569 is a prime number
570 equals 2 * 285
571 is a prime number
572 equals 2 * 286
573 equals 3 * 191
574 equals 2 * 287
575 equals 5 * 115
576 equals 2 * 288
577 is a prime number
578 equals 2 * 289
579 equals 3 * 193
580 equals 2 * 290
581 equals 7 * 83
582 equals 2 * 291
583 equals 11 * 53
584 equals 2 * 292
585 equals 3 * 195
586 equals 2 * 293
587 is a prime number
588 equals 2 * 294
589 equals 19 * 31
590 equals 2 * 295
591 equals 3 * 197
592 equals 2 * 296
593 is a prime number
594 equals 2 * 297
595 equals 5 * 119
596 equals 2 * 298
597 equals 3 * 199
598 equals 2 * 299
599 is a prime number
600 equals 2 * 300
601 is a prime number
602 equals 2 * 301
603 equals 3 * 201
604 equals 2 * 302
605 equals 5 * 121
606 equals 2 * 303
607 is a prime number
608 equals 2 * 304
609 equals 3 * 203
610 equals 2 * 305
611 equals 13 * 47
612 equals 2 * 306
613 is a prime number
614 equals 2 * 307
615 equals 3 * 205
616 equals 2 * 308
617 is a prime number
618 equals 2 * 309
619 is a prime number
620 equals 2 * 310
621 equals 3 * 207
622 equals 2 * 311
623 equals 7 * 89
624 equals 2 * 312
625 equals 5 * 125
626 equals 2 * 313
627 equals 3 * 209
628 equals 2 * 314
629 equals 17 * 37
630 equals 2 * 315
631 is a prime number
632 equals 2 * 316
633 equals 3 * 211
634 equals 2 * 317
635 equals 5 * 127
636 equals 2 * 318
637 equals 7 * 91
638 equals 2 * 319
639 equals 3 * 213
640 equals 2 * 320
641 is a prime number
642 equals 2 * 321
643 is a prime number
644 equals 2 * 322
645 equals 3 * 215
646 equals 2 * 323
647 is a prime number
648 equals 2 * 324
649 equals 11 * 59
650 equals 2 * 325
651 equals 3 * 217
652 equals 2 * 326
653 is a prime number
654 equals 2 * 327
655 equals 5 * 131
656 equals 2 * 328
657 equals 3 * 219
658 equals 2 * 329
659 is a prime number
660 equals 2 * 330
661 is a prime number
662 equals 2 * 331
663 equals 3 * 221
664 equals 2 * 332
665 equals 5 * 133
666 equals 2 * 333
667 equals 23 * 29
668 equals 2 * 334
669 equals 3 * 223
670 equals 2 * 335
671 equals 11 * 61
672 equals 2 * 336
673 is a prime number
674 equals 2 * 337
675 equals 3 * 225
676 equals 2 * 338
677 is a prime number
678 equals 2 * 339
679 equals 7 * 97
680 equals 2 * 340
681 equals 3 * 227
682 equals 2 * 341
683 is a prime number
684 equals 2 * 342
685 equals 5 * 137
686 equals 2 * 343
687 equals 3 * 229
688 equals 2 * 344
689 equals 13 * 53
690 equals 2 * 345
691 is a prime number
692 equals 2 * 346
693 equals 3 * 231
694 equals 2 * 347
695 equals 5 * 139
696 equals 2 * 348
697 equals 17 * 41
698 equals 2 * 349
699 equals 3 * 233
700 equals 2 * 350
701 is a prime number
702 equals 2 * 351
703 equals 19 * 37
704 equals 2 * 352
705 equals 3 * 235
706 equals 2 * 353
707 equals 7 * 101
708 equals 2 * 354
709 is a prime number
710 equals 2 * 355
711 equals 3 * 237
712 equals 2 * 356
713 equals 23 * 31
714 equals 2 * 357
715 equals 5 * 143
716 equals 2 * 358
717 equals 3 * 239
718 equals 2 * 359
719 is a prime number
720 equals 2 * 360
721 equals 7 * 103
722 equals 2 * 361
723 equals 3 * 241
724 equals 2 * 362
725 equals 5 * 145
726 equals 2 * 363
727 is a prime number
728 equals 2 * 364
729 equals 3 * 243
730 equals 2 * 365
731 equals 17 * 43
732 equals 2 * 366
733 is a prime number
734 equals 2 * 367
735 equals 3 * 245
736 equals 2 * 368
737 equals 11 * 67
738 equals 2 * 369
739 is a prime number
740 equals 2 * 370
741 equals 3 * 247
742 equals 2 * 371
743 is a prime number
744 equals 2 * 372
745 equals 5 * 149
746 equals 2 * 373
747 equals 3 * 249
748 equals 2 * 374
749 equals 7 * 107
750 equals 2 * 375
751 is a prime number
752 equals 2 * 376
753 equals 3 * 251
754 equals 2 * 377
755 equals 5 * 151
756 equals 2 * 378
757 is a prime number
758 equals 2 * 379
759 equals 3 * 253
760 equals 2 * 380
761 is a prime number
762 equals 2 * 381
763 equals 7 * 109
764 equals 2 * 382
765 equals 3 * 255
766 equals 2 * 383
767 equals 13 * 59
768 equals 2 * 384
769 is a prime number
770 equals 2 * 385
771 equals 3 * 257
772 equals 2 * 386
773 is a prime number
774 equals 2 * 387
775 equals 5 * 155
776 equals 2 * 388
777 equals 3 * 259
778 equals 2 * 389
779 equals 19 * 41
780 equals 2 * 390
781 equals 11 * 71
782 equals 2 * 391
783 equals 3 * 261
784 equals 2 * 392
785 equals 5 * 157
786 equals 2 * 393
787 is a prime number
788 equals 2 * 394
789 equals 3 * 263
790 equals 2 * 395
791 equals 7 * 113
792 equals 2 * 396
793 equals 13 * 61
794 equals 2 * 397
795 equals 3 * 265
796 equals 2 * 398
797 is a prime number
798 equals 2 * 399
799 equals 17 * 47
800 equals 2 * 400
801 equals 3 * 267
802 equals 2 * 401
803 equals 11 * 73
804 equals 2 * 402
805 equals 5 * 161
806 equals 2 * 403
807 equals 3 * 269
808 equals 2 * 404
809 is a prime number
810 equals 2 * 405
811 is a prime number
812 equals 2 * 406
813 equals 3 * 271
814 equals 2 * 407
815 equals 5 * 163
816 equals 2 * 408
817 equals 19 * 43
818 equals 2 * 409
819 equals 3 * 273
820 equals 2 * 410
821 is a prime number
822 equals 2 * 411
823 is a prime number
824 equals 2 * 412
825 equals 3 * 275
826 equals 2 * 413
827 is a prime number
828 equals 2 * 414
829 is a prime number
830 equals 2 * 415
831 equals 3 * 277
832 equals 2 * 416
833 equals 7 * 119
834 equals 2 * 417
835 equals 5 * 167
836 equals 2 * 418
837 equals 3 * 279
838 equals 2 * 419
839 is a prime number
840 equals 2 * 420
841 equals 29 * 29
842 equals 2 * 421
843 equals 3 * 281
844 equals 2 * 422
845 equals 5 * 169
846 equals 2 * 423
847 equals 7 * 121
848 equals 2 * 424
849 equals 3 * 283
850 equals 2 * 425
851 equals 23 * 37
852 equals 2 * 426
853 is a prime number
854 equals 2 * 427
855 equals 3 * 285
856 equals 2 * 428
857 is a prime number
858 equals 2 * 429
859 is a prime number
860 equals 2 * 430
861 equals 3 * 287
862 equals 2 * 431
863 is a prime number
864 equals 2 * 432
865 equals 5 * 173
866 equals 2 * 433
867 equals 3 * 289
868 equals 2 * 434
869 equals 11 * 79
870 equals 2 * 435
871 equals 13 * 67
872 equals 2 * 436
873 equals 3 * 291
874 equals 2 * 437
875 equals 5 * 175
876 equals 2 * 438
877 is a prime number
878 equals 2 * 439
879 equals 3 * 293
880 equals 2 * 440
881 is a prime number
882 equals 2 * 441
883 is a prime number
884 equals 2 * 442
885 equals 3 * 295
886 equals 2 * 443
887 is a prime number
888 equals 2 * 444
889 equals 7 * 127
890 equals 2 * 445
891 equals 3 * 297
892 equals 2 * 446
893 equals 19 * 47
894 equals 2 * 447
895 equals 5 * 179
896 equals 2 * 448
897 equals 3 * 299
898 equals 2 * 449
899 equals 29 * 31
900 equals 2 * 450
901 equals 17 * 53
902 equals 2 * 451
903 equals 3 * 301
904 equals 2 * 452
905 equals 5 * 181
906 equals 2 * 453
907 is a prime number
908 equals 2 * 454
909 equals 3 * 303
910 equals 2 * 455
911 is a prime number
912 equals 2 * 456
913 equals 11 * 83
914 equals 2 * 457
915 equals 3 * 305
916 equals 2 * 458
917 equals 7 * 131
918 equals 2 * 459
919 is a prime number
920 equals 2 * 460
921 equals 3 * 307
922 equals 2 * 461
923 equals 13 * 71
924 equals 2 * 462
925 equals 5 * 185
926 equals 2 * 463
927 equals 3 * 309
928 equals 2 * 464
929 is a prime number
930 equals 2 * 465
931 equals 7 * 133
932 equals 2 * 466
933 equals 3 * 311
934 equals 2 * 467
935 equals 5 * 187
936 equals 2 * 468
937 is a prime number
938 equals 2 * 469
939 equals 3 * 313
940 equals 2 * 470
941 is a prime number
942 equals 2 * 471
943 equals 23 * 41
944 equals 2 * 472
945 equals 3 * 315
946 equals 2 * 473
947 is a prime number
948 equals 2 * 474
949 equals 13 * 73
950 equals 2 * 475
951 equals 3 * 317
952 equals 2 * 476
953 is a prime number
954 equals 2 * 477
955 equals 5 * 191
956 equals 2 * 478
957 equals 3 * 319
958 equals 2 * 479
959 equals 7 * 137
960 equals 2 * 480
961 equals 31 * 31
962 equals 2 * 481
963 equals 3 * 321
964 equals 2 * 482
965 equals 5 * 193
966 equals 2 * 483
967 is a prime number
968 equals 2 * 484
969 equals 3 * 323
970 equals 2 * 485
971 is a prime number
972 equals 2 * 486
973 equals 7 * 139
974 equals 2 * 487
975 equals 3 * 325
976 equals 2 * 488
977 is a prime number
978 equals 2 * 489
979 equals 11 * 89
980 equals 2 * 490
981 equals 3 * 327
982 equals 2 * 491
983 is a prime number
984 equals 2 * 492
985 equals 5 * 197
986 equals 2 * 493
987 equals 3 * 329
988 equals 2 * 494
989 equals 23 * 43
990 equals 2 * 495
991 is a prime number
992 equals 2 * 496
993 equals 3 * 331
994 equals 2 * 497
995 equals 5 * 199
996 equals 2 * 498
997 is a prime number
998 equals 2 * 499
999 equals 3 * 333
1000 equals 2 * 500
1001 equals 7 * 143
1002 equals 2 * 501
1003 equals 17 * 59
1004 equals 2 * 502
1005 equals 3 * 335
1006 equals 2 * 503
1007 equals 19 * 53
1008 equals 2 * 504
1009 is a prime number
1010 equals 2 * 505
1011 equals 3 * 337
1012 equals 2 * 506
1013 is a prime number
1014 equals 2 * 507
1015 equals 5 * 203
1016 equals 2 * 508
1017 equals 3 * 339
1018 equals 2 * 509
1019 is a prime number
1020 equals 2 * 510
1021 is a prime number
1022 equals 2 * 511
1023 equals 3 * 341
1024 equals 2 * 512
1025 equals 5 * 205
1026 equals 2 * 513
1027 equals 13 * 79
1028 equals 2 * 514
1029 equals 3 * 343
1030 equals 2 * 515
1031 is a prime number
1032 equals 2 * 516
1033 is a prime number
1034 equals 2 * 517
1035 equals 3 * 345
1036 equals 2 * 518
1037 equals 17 * 61
1038 equals 2 * 519
1039 is a prime number
1040 equals 2 * 520

In [83]:
round(2.5)

2

In [84]:
round(3.5)

4

In [86]:
str(1)

'1'

In [87]:
str(1.1)

'1.1'

In [88]:
str('string')

'string'

In [89]:
int('x')

ValueError: invalid literal for int() with base 10: 'x'

In [90]:
int('1234')

1234

In [1]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [2]:
len('something')

9

In [3]:
string = 'something'

In [4]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [5]:
x = 4

In [6]:
type(x)

int

In [7]:
type(int)

type

In [8]:
string = 'starbucks'

In [9]:
string[0] = 'S'

TypeError: 'str' object does not support item assignment

In [10]:
string = 'Starbucks'

In [11]:
string

'Starbucks'

In [12]:
s = '    \t\n\t \tNandkishor '

In [13]:
s.strip()

'Nandkishor'

In [14]:
s

'    \t\n\t \tNandkishor '

char = 's'

In [16]:
char.swapcase()

'S'

In [17]:
'Nandkishor'.swapcase()

'nANDKISHOR'

## Lab: String Functions
* write a Python program which prompts the user for a string and a stride (increment), and alternately makes the string upper case and lower case, stride characters at a time, e.g.,
![alt-text](images/uplow.png "uplow")

In [21]:
string = 'abcdefghijklmnopqrstuvwxyz'
stride = 4
# len / 4
# 'abcd' 0..4
# 'efgh' 4..8
# 8..12
for position in range(0, len(string), stride):
    print(position, '..', position + stride, string[position:position + stride])

0 .. 4 abcd
4 .. 8 efgh
8 .. 12 ijkl
12 .. 16 mnop
16 .. 20 qrst
20 .. 24 uvwx
24 .. 28 yz

In [22]:
string[34:76]

''

In [29]:
string = input('Enter a string:')
stride = int(input('Enter a stride: ')) # don't forget to int-ify
result = ''

# What we need to do during this loop is alternate, i.e., if we
# previously called .upper(), we need to now do .lower().
# If we take the 'what do humans do?' approach, we notice that
# a human is likely to first write out stride characters in uppercase,
# and then "notice" that they previous did upper, so they should switch
# to lower the next time around. That is, a human can simply look at
# what they just wrote, and do the opposite. While we could certainly
# write code to look at say, the last character of the string so far,
# a more straightforward (arguably) solution would be to keep track of
# the last operation in a variable, and that will guide us as to what
# we should do next.
#
# We might keep track of the previous operation in a string, and then
# we'll investigate a more "programmatic/dev" solution.
do_next = 'upper' # what to do next

# march thru the string, stride chars at a time (not the only way to do this)
for position in range(0, len(string), stride):
    if do_next == 'upper':
        result += string[position:position + stride].upper()
        do_next = 'lower'
    else:
        result += string[position:position + stride].lower()
        do_next = 'upper'
        
print(result)

Enter a string: abcdefghijklmnopqrstuvwxyz
Enter a stride:  4

ABCDefghIJKLmnopQRSTuvwxYZ

In [28]:
# Note that while the above works, it's not ideal because the string
# variable is only being compared with 'upper'. The else clause is
# run if the string is literally anything but 'upper'. A more programmatic
# solution would use a Boolean variable which can only be True or False.
# When naming Boolean variables, we use verbs or actions so that the code
# reads better, e.g., do_upper, make_upper, etc.
string = input('Enter a string:')
stride = int(input('Enter a stride: ')) # don't forget to int-ify
result = ''
do_upper = True # what to do next

# march thru the string, stride chars at a time (not the only way to do this)
for position in range(0, len(string), stride):
    if do_upper: # == True
        result += string[position:position + stride].upper()
        # do_upper = False
    else:
        result += string[position:position + stride].lower()
        # do_upper = True
    do_upper = not do_upper
        
print(result)

Enter a string: programmatic
Enter a stride:  2

PRogRAmmATic

# Given a string, output all substring of that string which are 2+ characters
* example: "starbucks"
  * st, sta, star, ..., starbucks, ta, tar, tarb, ..., tarbucks

In [32]:
string = input('Enter a string: ')

for position in range(len(string) - 1):
    for end in range(position + 2, len(string) + 1):
        print(string[position:end])

Enter a string:  starbucks

st
sta
star
starb
starbu
starbuc
starbuck
starbucks
ta
tar
tarb
tarbu
tarbuc
tarbuck
tarbucks
ar
arb
arbu
arbuc
arbuck
arbucks
rb
rbu
rbuc
rbuck
rbucks
bu
buc
buck
bucks
uc
uck
ucks
ck
cks
ks

In [33]:
list([1, 2, 3])

[1, 2, 3]

In [34]:
list(4)

TypeError: 'int' object is not iterable

In [36]:
empty_list = list()

In [37]:
empty_list = []

In [38]:
len(empty_list)

0

In [39]:
list('starbucks')

['s', 't', 'a', 'r', 'b', 'u', 'c', 'k', 's']

In [40]:
list(['Python', 'Golang', 'Java', 'Ruby'])

['Python', 'Golang', 'Java', 'Ruby']

In [41]:
mylist = [1, 2, 3]

In [42]:
cars = 'Tesla Lucid Bollinger Polestar'.split()

In [43]:
cars

['Tesla', 'Lucid', 'Bollinger', 'Polestar']

In [44]:
for index in range(len(cars)):
    print(cars[index])

Tesla
Lucid
Bollinger
Polestar

In [45]:
index

3

In [46]:
nums = [1] * 100

In [47]:
print(nums)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [48]:
nums.remove(1)

In [49]:
print(nums)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [50]:
1 in nums

True

In [55]:
fruits = 'fig lemon apple pear'.split()

In [56]:
fruits

['fig', 'lemon', 'apple', 'pear']

In [53]:
fruits.sort()

In [54]:
fruits

['apple', 'fig', 'lemon', 'pear']

In [57]:
sorted(fruits)

['apple', 'fig', 'lemon', 'pear']

In [58]:
fruits

['fig', 'lemon', 'apple', 'pear']

In [59]:
fruits = fruits.sort()

In [60]:
print(fruits)

None

In [61]:
print('hello')

hello

In [62]:
result = print('hello')

hello

In [63]:
print(result)

None

In [64]:
sorted('starbucks')

['a', 'b', 'c', 'k', 'r', 's', 's', 't', 'u']

In [65]:
sorted('starbucks', reverse=True)

['u', 't', 's', 's', 'r', 'k', 'c', 'b', 'a']

In [67]:
fruits = 'fig lemon apple pear'.split()

In [68]:
fruits

['fig', 'lemon', 'apple', 'pear']

In [69]:
sorted(fruits, key=len)

['fig', 'pear', 'lemon', 'apple']

In [70]:
id(len)

140258734219568

In [71]:
id(sorted)

140258734220528

In [72]:
x = 1
y = 1

In [73]:
id(x)

140258733910320

In [74]:
id(y)

140258733910320

In [75]:
x = 2

In [76]:
id(x)

140258733910352

In [77]:
x = 1000
y = 1000
id(x), id(y)

(140258212387568, 140258212387472)

## Quick Lab: Lists
* Write a Python program to read in a list of items possibly containing duplicates, and then constructs a new list which contains the elements from the original list, with the order preserved, but the duplicates removed
![alt-text](images/list2.png "list2")

In [89]:
list1 = input('Enter some items: ').split() # Pythonic
list2 = [] # start w/an empty list

for item in list1: # for each item in the first list
    if item not in list2: # only append if not already in list2 
        # I may not have told you about 'not in'
        list2.append(item)

print(list2) # we could print this better...
print(', '.join(list2))
# or even...
print(*list2)

Enter some items:  apple fig pear apple fig lemon pear

['apple', 'fig', 'pear', 'lemon']
apple, fig, pear, lemon
apple fig pear lemon

## Lab: Lists
* Write a Python program to maintain a list 
  * Read input until the user enters 'quit'
  * Words that the user enters should be added to the list
  * If a word begins with '-' (e.g., '-foo') it should be removed from the list
  * If the user enters only a '-', the list should be reversed
  * After each operation, print the list
  * Extras:
      * If user enters more than one word (e.g, __foo bar__), add "foo" and "bar" to the list, rather than "foo bar"
      * Same for "-", i.e., __-foo bar__ would remove "foo" and "bar" from the  list

In [79]:
response = ''
while response != 'quit':
    response = input('Enter: ')
    if response == 'quit':
        break
    # do something

Enter:  apple
Enter:  fig
Enter:  quit

In [ ]:
response = input('Enter: ')
while response != 'quit':
    # do something with it
    response = input('Enter: ')

In [80]:
response = ''
while True:
    response = input('Enter: ')
    if response == 'quit':
        break
    # do something

Enter:  apple
Enter:  fig
Enter:  pear
Enter:  quit

In [81]:
import sys
sys.version

'3.9.12 (main, Apr  5 2022, 01:53:17) \n[Clang 12.0.0 ]'

In [83]:
while (response := input('Enter: ')) != 'quit':
    # process the input
    print(response)

Enter:  apple

apple

Enter:  fgig

fgig

Enter:  quit

In [90]:
list1 = [1, 2, 3]

In [91]:
if list1: # len(list1) > 0
    print('yep')

yep

In [92]:
help(list1.reverse)

Help on built-in function reverse:

reverse() method of builtins.list instance
    Reverse *IN PLACE*.

In [93]:
# remember to build up your solution incrementally if you need to
words = []

while (response := input('Enter: ')) != 'quit':
    # for now, just add to list
    words.append(response)
    print(words)

Enter:  quit

In [ ]:
# once the first part works, add -word
words = []

while (response := input('Enter: ')) != 'quit':
    # for now, just add to list
    if not response: # response == ''
        continue
    if response[0] == '-': # begins with dash?
        words.remove(response[1:]) # omit dash with slicing
    else:
        words.append(response)
    print(words)

In [ ]:
# now add -
# still have to add extras, and error checking
words = []

while (response := input('Enter: ')) != 'quit':
    # for now, just add to list
    if response[0] == '-': # begins with dash?
        if response == '-': # exactly equal to dash
            words = words[::-1] # there is a .reverse() also
        else: # remove from list
            words.remove(response[1:]) # omit dash with slicing
    else: # add to list
        words.append(response)
    print(words)

In [ ]:
# add extras
# error checking
words = []

while (response := input('Enter: ')) != 'quit':
    # for now, just add to list
    if response[0] == '-': # begins with dash?
        if response == '-': # exactly equal to dash
            words = words[::-1] # there is a .reverse() also
        else: # remove from list
            for word in response[1:].split(): # omit dash with slicing
                words.remove(word) 
    else: # add to list
        words.extend(response.split())
    print(words)

In [94]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
list(range(0, 100, 5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [97]:
36 % 5

1

In [99]:
45 % 5

0

## Lab: List Comprehensions
*  Start with Cartesian product example (colors x sizes of t-shirts) and add a third list, __`sleeves = ['short', 'long']`__ then write a new listcomp which generates the Cartesian product __`colors x sizes x sleeves`__. __`tshirts`__ should look like this:<pre><b>
    [['black', 'S', 'short'],
     ['black', 'S', 'long'],
     ['black', 'M', 'short'],
     ['black', 'M', 'long'],
     ['black', 'L', 'short'],
     ['black', 'L', 'long'],
     ['white', 'S', 'short'],
     ['white', 'S', 'long'],
     ['white', 'M', 'short'],
     ['white', 'M', 'long'],
     ['white', 'L', 'short'],
     ['white', 'L', 'long']]
     
 </b></pre>
* Use a list comprehension to create a list of the squares of the integers from 1 to 25 (i.e, 1, 4, 9, 16, …, 625)
* Given a list of words, create a second list which contains all the words from the first list which do not end with a vowel
* Use a list comprehension to create a list of the integers from 1 to 100 which are not divisible by 5
* Use a list comprehension and __`zip()`__ to create a list of lists, where the list items are name and ID number that you grabbed from separate lists of names and ID numbers
  * start with a list of, say, 5 names ['John', 'Mary', 'Edward', 'Linda', 'Dinesh']
  * and a list of, say, 5 ID numbers [1003, 2043, 8762, 7862, 1093]
  * additional wrinkle: do not include any names whose corresponding ID is -1

In [100]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L', 'XL']
sleeves = ['short', 'long']

tshirts = [[color, size, sleeve] for color in colors
                                    for size in sizes
                                       for sleeve in sleeves]
tshirts

[['black', 'S', 'short'],
 ['black', 'S', 'long'],
 ['black', 'M', 'short'],
 ['black', 'M', 'long'],
 ['black', 'L', 'short'],
 ['black', 'L', 'long'],
 ['black', 'XL', 'short'],
 ['black', 'XL', 'long'],
 ['white', 'S', 'short'],
 ['white', 'S', 'long'],
 ['white', 'M', 'short'],
 ['white', 'M', 'long'],
 ['white', 'L', 'short'],
 ['white', 'L', 'long'],
 ['white', 'XL', 'short'],
 ['white', 'XL', 'long']]

In [105]:
squares = [num ** 2 for num in range(1, 26)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625]

In [106]:
words = 'eggs apple pear lemon lime banana pancakes'.split()
not_end_in_vowel = [word for word in words # filter...
                            if word[-1] not in 'aeiou']
print(not_end_in_vowel)

['eggs', 'pear', 'lemon', 'pancakes']

In [110]:
no_divis_by_5 = [num for num in range(1, 101) # filter...
                        if num % 5]
print(no_divis_by_5)

[1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99]

In [107]:
print(list(range(1, 101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [111]:
names = ['John', 'Mary', 'Edward', 'Linda', 'Dinesh']
ids = [1003, 2043, 8762, 7862, 1093]
employees = [[name, id] for name, id in zip(names, ids)]
print(employees)

[['John', 1003], ['Mary', 2043], ['Edward', 8762], ['Linda', 7862], ['Dinesh', 1093]]

In [120]:
ids = [1003, -1, 8762, 7862, -1]
employees = [[name, id] for name, id in zip(names, ids)
                            if id != -1
                            if len(name) != 4]
print(employees)

[['Edward', 8762], ['Linda', 7862]]

In [112]:
len = 5

In [113]:
len('hi')

TypeError: 'int' object is not callable

In [114]:
del len

In [115]:
list = [1, 2, 3]

In [116]:
list('hi')

TypeError: 'list' object is not callable

In [121]:
if 5 > 4:
    x = 'greater'
else:
    x = 'not'

In [126]:
# Python equivalent of ternary operator
x = 'greater' if 5 > 44 else 'not'

In [125]:
x

'not'

In [127]:
x = 'greater'

if 5 <= 4:
    x = 'not'

In [128]:
[1]

[1]

## Lab: Tuples
* Create a tuple representing a city w/field of your own choosing (e.g., city name, state/country, population, elevation, etc.)
* "Add" a field to the tuple–since tuples are immutable, you will have to do this by concatenating tuples
* Using the _in_ operator, check to see if a particular value is in the tuple
* Using the __`.index()`__ method, find the position of a particular value in the tuple

In [133]:
city = 'Jakarta', 'Indonesia', 1621, 10_609_681

In [134]:
city = city + (3540, 'other')
city

('Jakarta', 'Indonesia', 1621, 10609681, 3540, 'other')

In [135]:
1621 in city

True

In [136]:
city.index(3540)

4

In [ ]:
# not many methods for tuples!

In [137]:
mylist = ['hello', 5]

In [138]:
mylist

['hello', 5]

In [139]:
nums = 1, 2, 3, 4, 5

In [140]:
nums

(1, 2, 3, 4, 5)

In [142]:
import collections
# collections contains BETTER versions of Python datatypes
# ...namedtuple

In [145]:
t = 'Joe', 1, True

In [148]:
if 1 in t:
    print(t.index(1))

1

In [149]:
somedict = { 'foo': 'bar' }

In [150]:
somedict['foo']

'bar'

In [151]:
hash('foo')

1341734293785910100

In [152]:
hash('bar')

-7984739322258418197

In [153]:
hash('Python')

-8022187003145662801

In [154]:
hash([1, 2, 3])

TypeError: unhashable type: 'list'

In [155]:
somedict

{'foo': 'bar'}

In [156]:
somedict[(1, 'blah', True)] = [1, 2, 3, 'four']

In [157]:
somedict

{'foo': 'bar', (1, 'blah', True): [1, 2, 3, 'four']}

## Lab: dictionary
* use a dict to translate Roman numerals into their Arabic equivalents
1. load the dict with Roman numerals M (1000), D (500), C (100), L (50), X (10), V (5), I (1)
2. read in a Roman numeral
3. print Arabic equivalent
4. try it with MCLX = 1000 + 100 + 50 + 10 = 1160
4. __If you have time, deal with the case where a smaller number precedes a larger number, e.g., XC = 100 - 10 = 90, or MCM = 1000 + (1000-100) = 1900__
4. __MCMXCIX = 1999__

In [ ]:
# one suggestion
# approach the translation in two passes
# pass 1
# simply convert each digit to its Arabic equivalent and put them in a list
# MCMXCIX
# [ 1000, 100, 1000, 10, 100, 1, 10 ]
# pass 2
# go through the list of numbers
# if a number is less than its neighbor (to the right), then make it negative
# [ 1000, -100, 1000, -10, 100, -1, 10 ]
# now sum them up = 1999

In [159]:
roman_to_arabic = {
    'M': (1000),
    'D': (500),
    'C': (100),
    'L': (50),
    'X': (10),
    'V': (5),
    'I': (1),
}

In [172]:
numeral = input('Enter a Roman numeral: ').upper()

Enter a Roman numeral:  mclx

In [160]:
# first attempt, no funny business
total = 0

# now we need to "visit" each digit, and convert to Arabic
for digit in numeral:
    total += roman_to_arabic[digit] # what if it's not in the dict?

print(total)

1160

In [174]:
numeral = input('Enter a Roman numeral: ')

# second attempt, consider error checking
total = 0

for digit in numeral:
    if digit in roman_to_arabic:
        total += roman_to_arabic[digit] # what if it's not in the dict?
    else:
        # what should we do? 
        # quit? consider the bad digit a 0?
        print('bad digit:', digit)
        break # quit
else: # we only get here if we didn't break, i.e., only valid digit
    print(total)

Enter a Roman numeral:  MCA

bad digit: A

In [175]:
# two-pass solution, to handle Roman numeral weirdness
# no error checking or listcomps
numeral = input('Enter a Roman numeral: ')

# pass 1: compute Arabic equivalents
arabic_vals = []
for digit in numeral:
    arabic_vals.append(roman_to_arabic[digit]) # not handling bad digits

print(arabic_vals)

Enter a Roman numeral:  MCMXCIX

[1000, 100, 1000, 10, 100, 1, 10]

In [176]:
# pass 2: look for numbers smaller than neighbor, and make negative
for index in range(len(numeral) - 1): # start from 0, but don't fall of the end!
    if arabic_vals[index] < arabic_vals[index + 1]: # less than neighbor to the right?
        arabic_vals[index] = -arabic_vals[index] # ...make it negative (or multiply by -1)

print(arabic_vals)
print(sum(arabic_vals))

[1000, -100, 1000, -10, 100, -1, 10]
1999

In [179]:
# now think about error checking
# we can use .get() to avoid crashing with bad digits
# we can also notice that we're starting with an empty list
# and filling it with a for loop...sounds like a listcomp

numeral = input('Enter a Roman numeral: ')

arabic_vals = [roman_to_arabic.get(digit) for digit in numeral]
    
# at this point we may have one or more None values in the list
if None in arabic_vals:
    # it's a bit of work to tell the user, after the fact, what was bad
    # we could get the index of the None, then use it to index the numeral
    # but at this point I would choose not go down that path...
    print('bad digit found')

# rest of program

Enter a Roman numeral:  MCAX

bad digit found

In [180]:
arabic_vals

[1000, 100, None, 10]

In [183]:
roman_to_arabic = {
    'M': (1000),
    'D': (500),
    'C': (100),
    'L': (50),
    'X': (10),
    'V': (5),
    'I': (1),
}
# two-pass solution, to handle Roman numeral weirdness
# no error checking or listcomps
numeral = input('Enter a Roman numeral: ').upper()

# pass 1: compute Arabic equivalents
arabic_vals = []
for digit in numeral:
    arabic_vals.append(roman_to_arabic[digit]) # not handling bad digits

print(arabic_vals)

# pass 2: look for numbers smaller than neighbor, make negative
for index in range(len(numeral) - 1): # start from 0, but don't fall of the end!
    # less than neighbor to the right?
    if arabic_vals[index] < arabic_vals[index + 1]: 
        # if so, make it negative (or multiply by -1)
        arabic_vals[index] = -arabic_vals[index] 

print(arabic_vals)
print(sum(arabic_vals))

Enter a Roman numeral:  mcmxcix

[1000, 100, 1000, 10, 100, 1, 10]
[1000, -100, 1000, -10, 100, -1, 10]
1999

In [184]:
ord('A')

65

In [185]:
ord('a')

97

In [186]:
chr(66)

'B'

In [187]:
d = { 'thing': 1 }

In [191]:
print(d.get('things', 'not there'))

not there

In [192]:
import random
nums = [random.randint(1, 100) for _ in range(100)] # "do this 100 times"

In [193]:
print(nums)

[57, 94, 97, 92, 45, 47, 96, 41, 44, 65, 33, 20, 95, 100, 31, 76, 31, 98, 3, 60, 68, 78, 55, 86, 73, 38, 29, 64, 14, 38, 98, 38, 46, 97, 59, 26, 71, 41, 35, 57, 72, 3, 70, 100, 87, 84, 70, 91, 63, 60, 54, 76, 68, 90, 6, 55, 73, 99, 65, 68, 6, 13, 75, 98, 48, 15, 56, 99, 31, 32, 22, 58, 65, 78, 25, 97, 23, 9, 28, 21, 84, 72, 95, 65, 29, 23, 25, 73, 80, 69, 76, 16, 13, 73, 12, 74, 83, 60, 52, 66]

In [202]:
nums = list(set(nums))

In [203]:
print(nums)

[3, 6, 9, 12, 13, 14, 15, 16, 20, 21, 22, 23, 25, 26, 28, 29, 31, 32, 33, 35, 38, 41, 44, 45, 46, 47, 48, 52, 54, 55, 56, 57, 58, 59, 60, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 80, 83, 84, 86, 87, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100]

In [204]:
hash(345)

345

## Lab: Sets
* Use a set to find all of the unique words in the input and print them out in sorted order
* If the user entered __There is no there there__, your program should print out 
   <pre><b>
   is
   no
   there
   </b></pre>
* Note that `There` and `there` should be counted as the same word.

In [205]:
words = input('Enter some words: ').lower().split() # ignore case and split into a list

Enter some words:  There is no there there

In [206]:
words

['there', 'is', 'no', 'there', 'there']

In [226]:
# now we need to remove dupes and sort
print(set(words))

{'no', 'is', 'there'}

In [227]:
sorted(set(words)) # sorted takes any container as an argument, so no need to list-ify first

SyntaxError: can't use starred expression here (3168927059.py, line 1)

In [211]:
# let's print the out nicer...
print(*sorted(set(words)))

is no there

In [251]:
# or, as per the assignment...
print('\n'.join(sorted(set(words))))

is
no
there

In [222]:
# Birthday Problem
# 2 people, what are the odds they DON'T have same birthday...364 / 365 ways that 2nd person can't have same birthday
# 3 people, ( 364 / 365 ) * ( 363 / 365 )
# etc.
# 1 - the above is the probability that 2+ people have the same birthday
# so given n people, 365/365 * 364/365 * ... * (365 - n)/365 is probability that no 2 people have same birthday
people = int(input('Enter number of people: '))
prob = 1.0
for count in range(1, people + 1):
    prob *= (366 - count) / 365.0
    print(f'{count:2d} {(1.0 - prob) * 100.0:.1f}%')

Enter number of people:  23

 1 0.0%
 2 0.3%
 3 0.8%
 4 1.6%
 5 2.7%
 6 4.0%
 7 5.6%
 8 7.4%
 9 9.5%
10 11.7%
11 14.1%
12 16.7%
13 19.4%
14 22.3%
15 25.3%
16 28.4%
17 31.5%
18 34.7%
19 37.9%
20 41.1%
21 44.4%
22 47.6%
23 50.7%

In [228]:
nums = [3, 5, -2]

In [229]:
print(nums)

[3, 5, -2]

In [230]:
print(1, 2, 3)

1 2 3

In [231]:
print(*nums)

3 5 -2

In [233]:
nums = [random.randint(1, 10) for _ in range(10)]

In [234]:
nums

[10, 8, 4, 7, 4, 1, 8, 4, 1, 3]

In [235]:
first, second, *rest = nums

In [236]:
first

10

In [237]:
second

8

In [238]:
rest

[4, 7, 4, 1, 8, 4, 1, 3]

In [239]:
t = 'Hopper', 'Grace', 1912, 'Navy', 'Admiral', 8

In [247]:
last, *_, rank, num = t

In [248]:
_

['Grace', 1912, 'Navy']

In [245]:
3 + 4

7

In [246]:
_

['Grace', 1912, 'Navy', 'Admiral']

In [253]:
with open('poem.txt') as infile:
    for line in infile:
        print(line, end='')

TWO roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.

## Quick Lab: File I/O
* write a Python program which prompts the user for a filename, then opens that file and writes the contents of the file to a new file, in reverse order, i.e.,

<pre><b>
    Original file       Reversed file
    Line 1              Line 4
    Line 2              Line 3
    Line 3              Line 2
    Line 4              Line 1
</b></pre>

In [268]:
filename = input('Enter a filename: ')

with open(filename) as infile: # open the file, assume it exists, but think about error checking
    lines = infile.readlines() # read the ENTIRE file into a list of lines

# done, file is closed

Enter a filename:  poem.txt

In [269]:
lines

['TWO roads diverged in a yellow wood,\n',
 'And sorry I could not travel both\n',
 'And be one traveler, long I stood\n',
 'And looked down one as far as I could\n',
 'To where it bent in the undergrowth;\n',
 '\n',
 'Then took the other, as just as fair,\n',
 'And having perhaps the better claim,\n',
 'Because it was grassy and wanted wear;\n',
 'Though as for that the passing there\n',
 'Had worn them really about the same,\n',
 '\n',
 'And both that morning equally lay\n',
 'In leaves no step had trodden black.\n',
 'Oh, I kept the first for another day!\n',
 'Yet knowing how way leads on to way,\n',
 'I doubted if I should ever come back.\n',
 '\n',
 'I shall be telling this with a sigh\n',
 'Somewhere ages and ages hence:\n',
 'Two roads diverged in a wood, and I—\n',
 'I took the one less traveled by,\n',
 'And that has made all the difference.\n']

In [270]:
with open(filename + '.rev', 'w') as outfile: # open a file to write to by adding '.rev' to the name (YMMV)
    # now we need to write the lines to the file in reverse order
    # lotsa options
    print(''.join(lines[::-1]), file=outfile) # join together all lines of the reversed list of lines

# file is closed automatically

## Lab: File I/O + dicts
* write a Python program to read a file and count the number of occurrences of each word in the file
* use a __`dict`__, indexed by word, to count the occurrences
* remember __`d.get(key)`__ will return __`None`__ if there is no such key in the dict (vs. __`d[key]`__ which will throw an exception) and also the __`in`__ operator
  * or use a __`collections.defaultdict`__ if we've covered it
* treat __The__ and __the__ as the same word when counting
* print out words and counts, from most common to least common
* EXTRA: remove punctuation, so __Hamlet,__ == __Hamlet__ # refer back to "import this"
* Road Not Taken and Hamlet are in your materials

In [256]:
wordcounts = {}

In [259]:
from collections import defaultdict
wordcounts = defaultdict(int)

In [260]:
wordcounts

defaultdict(int, {})

In [261]:
wordcounts['the']

0

In [262]:
wordcounts['the'] += 1

In [263]:
wordcounts

defaultdict(int, {'the': 1})

In [264]:
wordcounts['hamlet']

0

In [265]:
wordcounts

defaultdict(int, {'the': 1, 'hamlet': 0})

In [272]:
# first cut
wordcounts = {}
filename = input('Enter file to count words in: ')

with open(filename) as infile: # error checking...not yet
    # iterate thru the file one line at a time...
    for line in infile:
        # split the line into words (and make lower case)
        for word in line.lower().split():
            if word in wordcounts: # seen it before...
                wordcounts[word] += 1 # ...so increment count
            else: # not seen it before...
                wordcounts[word] = 1 # ...so set count to 1
                
# That's it for the counting part, now we need to display words + counts
# We need to sort by *values*, and also in reverse order (high to low)
for word in sorted(wordcounts, reverse=True, key=wordcounts.get):
    print(word, wordcounts[word])

Enter file to count words in:  poem.txt

and 9
i 8
the 8
as 5
in 4
a 3
one 3
that 3
two 2
roads 2
diverged 2
wood, 2
could 2
both 2
be 2
to 2
it 2
took 2
for 2
had 2
ages 2
yellow 1
sorry 1
not 1
travel 1
traveler, 1
long 1
stood 1
looked 1
down 1
far 1
where 1
bent 1
undergrowth; 1
then 1
other, 1
just 1
fair, 1
having 1
perhaps 1
better 1
claim, 1
because 1
was 1
grassy 1
wanted 1
wear; 1
though 1
passing 1
there 1
worn 1
them 1
really 1
about 1
same, 1
morning 1
equally 1
lay 1
leaves 1
no 1
step 1
trodden 1
black. 1
oh, 1
kept 1
first 1
another 1
day! 1
yet 1
knowing 1
how 1
way 1
leads 1
on 1
way, 1
doubted 1
if 1
should 1
ever 1
come 1
back. 1
shall 1
telling 1
this 1
with 1
sigh 1
somewhere 1
hence: 1
i— 1
less 1
traveled 1
by, 1
has 1
made 1
all 1
difference. 1

In [275]:
# second version, deal with ugly if plus think about volume of output
wordcounts = {}
filename = input('Enter file to count words in: ')

with open(filename) as infile: # error checking...not yet
    # iterate thru the file one line at a time...
    for line in infile:
        # split the line into words (and make lower case)
        for word in line.lower().split():
            # if seen it before, get() returns 1, 
            # otherwise it returns 0
            wordcounts[word] = wordcounts.get(word, 0) + 1

# for a big file, such as Hamlet, there will be LOTS of words
# we probably don't need to see them all...perhaps top 10/20/50
# or perhaps we set a minimum number of times a word appears
# before it is output here...

top = int(input('Top 10/25/50...? '))
# take the number the user enters and use it in a slice to see top 10, etc.
for word in sorted(wordcounts, reverse=True, key=wordcounts.get)[:top]:
    print(word, wordcounts[word])

Enter file to count words in:  hamlet.txt
Top 10/25/50...?  50

the 1137
and 936
to 728
of 664
a 527
i 513
my 513
in 423
you 405
hamlet 401
that 345
it 325
is 318
his 294
not 274
with 263
this 249
your 242
but 229
for 228
as 217
be 208
he 204
what 187
have 173
king 157
will 150
so 141
me 139
we 136
do 130
are 127
horatio 125
him 118
our 118
by 114
if 111
claudius 109
on 108
or 108
no 107
polonius 107
shall 106
lord 106
queen 103
they 101
all 100
good 97
let 95
from 94

In [277]:
# second version, deal with ugly if plus think about volume of output
wordcounts = {}
filename = input('Enter file to count words in: ')

with open(filename) as infile: # error checking...not yet
    # iterate thru the file one line at a time...
    for line in infile:
        # split the line into words (and make lower case)
        for word in line.lower().split():
            # if seen it before, get() returns 1, 
            # otherwise it returns 0
            wordcounts[word] = wordcounts.get(word, 0) + 1

# for a big file, such as Hamlet, there will be LOTS of words
# we probably don't need to see them all...perhaps top 10/20/50
# or perhaps we set a minimum number of times a word appears
# before it is output here...

limit = int(input('See words that appear only how many times? '))

for word in sorted(wordcounts, reverse=True, key=wordcounts.get):
    if wordcounts[word] < limit:
        break
    print(word, wordcounts[word])

Enter file to count words in:  hamlet.txt
See words that appear only how many times?  100

the 1137
and 936
to 728
of 664
a 527
i 513
my 513
in 423
you 405
hamlet 401
that 345
it 325
is 318
his 294
not 274
with 263
this 249
your 242
but 229
for 228
as 217
be 208
he 204
what 187
have 173
king 157
will 150
so 141
me 139
we 136
do 130
are 127
horatio 125
him 118
our 118
by 114
if 111
claudius 109
on 108
or 108
no 107
polonius 107
shall 106
lord 106
queen 103
they 101
all 100

In [281]:
line = 'Hi Hamlet, how are you?'
''.join([char for char in line # add filter
            if char not in '?,'])

'Hi Hamlet how are you'

In [283]:
import string

In [284]:
string.__file__

'/Users/dave-wadestein/opt/anaconda3/lib/python3.9/string.py'

In [286]:
# third version, deal with punctuation
from string import punctuation
wordcounts = {}
filename = input('Enter file to count words in: ')

with open(filename) as infile: # error checking...not yet
    # iterate thru the file one line at a time...
    for line in infile:
        line = ''.join([char for char in line.lower()
                                 if char not in punctuation])
        # split the line into words (and make lower case)
        for word in line.split():
            # if seen it before, get() returns 1, 
            # otherwise it returns 0
            wordcounts[word] = wordcounts.get(word, 0) + 1

"""for a big file, such as Hamlet, there will be LOTS of words
we probably don't need to see them all...perhaps top 10/20/50
or perhaps we set a minimum number of times a word appears
before it is output here...
"""

limit = int(input('See words that appear only how many times? '))

for word in sorted(wordcounts, reverse=True, key=wordcounts.get):
    if wordcounts[word] < limit:
        break
    print(word, wordcounts[word])

Enter file to count words in:  hamlet.txt
See words that appear only how many times?  400

the 1142
and 964
to 737
of 669
i 567
you 546
a 531
my 513
hamlet 463
in 436
it 416

In [292]:
!tr A-Z a-z < hamlet.txt | tr -sc a-z '\n' | sort | uniq -c | sort -rn | head

1143 the
 966 and
 762 to
 669 of
 631 i
 554 you
 546 a
 514 my
 471 hamlet
 451 in

In [293]:
sorted('string')

['g', 'i', 'n', 'r', 's', 't']

In [294]:
sorted([1, 3, 2])

[1, 2, 3]

In [296]:
sorted({'foo': 'bar', 'baz': 'bar'})

['baz', 'foo']

In [297]:
sorted({11, 3, 2})

[2, 3, 11]

In [298]:
sorted(3)

TypeError: 'int' object is not iterable

In [299]:
def iterate(iterable):
    for thing in iterable:
        print(thing)

In [300]:
iterate('string')

s
t
r
i
n
g

In [301]:
iterate([1, 2, 3])

1
2
3

In [302]:
iterate((3, 2, 1))

3
2
1

In [303]:
iterate(4)

TypeError: 'int' object is not iterable

In [304]:
''.join('this that other'.split())

'thisthatother'

In [305]:
import math

In [306]:
help(math.sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

## Lab: functions
* Write a function __`calculate`__ which is passed two operands and an operator and returns the calculated result, e.g., __`calculate(2, 4, '+')`__ would return 6
* Write a function that, given a string, returns True or False whether the string is a pangram
  * pangram contains all the letters of the alphabet
  * The quick brown fox jumps over the lazy dog
  * The wizard quickly jinxed the gnomes before they vaporized
* Write a function which takes an integer as a parameter, and sums up its digits. If the resulting sum contains more than 1 digit, the function should sum the digits again, e.g., __`sumdigits(1235)`__ should compute the sum of 1, 2, 3, and 5 (11), then compute the sum of 1 and 1, returning 2.
* Write a function which takes a number as a parameter and returns a string version of the number with commas representing thousands, e.g., __`add_commas(12345)`__ would return "12,345"
* Write a function to demonstrate the Collatz Conjecture:
  * for integer n > 1
    * if n is even, then __`n = n // 2`__
    * if n is odd, then __`n = n * 3 + 1`__
  * ...will always converge to 1
  * (your function should take n and keep printing new value of n until n is 1)

In [308]:
def calculate(operand1, operand2, oper):
    """Calculate sum, difference, product or quotient of two values."""
    if oper == '+':
        return operand1 + operand2
    if oper == '-':
        return operand1 - operand2
    if oper == '*':
        return operand1 * operand2
    if oper == '/':
        return operand1 / operand2
    print('bad operator: ', oper)

In [309]:
calculate(2, 3, '*')

6

In [324]:
import string

def is_pangram(sentence):
    """Determine if a string is a pangram or not."""
    # make a set of the letters in the sentence
    letters = { char for char in sentence.lower()
                       if char in string.ascii_lowercase }
    return len(letters) == 26

In [327]:
is_pangram('The wizard quickly jinxed the gnomes before they vaporized.')

True

In [328]:
def collatz(n):
    """Collatz the number..."""
    if type(n) != int or n < 2:
        print('arg must be an int > 1')
        return
    
    while n > 1:
        print(n, end=' ')
        if n % 2 == 0:
            n //= 2
        else:
            n = n * 3 + 1
    print(1)

In [332]:
collatz(6171)

6171 18514 9257 27772 13886 6943 20830 10415 31246 15623 46870 23435 70306 35153 105460 52730 26365 79096 39548 19774 9887 29662 14831 44494 22247 66742 33371 100114 50057 150172 75086 37543 112630 56315 168946 84473 253420 126710 63355 190066 95033 285100 142550 71275 213826 106913 320740 160370 80185 240556 120278 60139 180418 90209 270628 135314 67657 202972 101486 50743 152230 76115 228346 114173 342520 171260 85630 42815 128446 64223 192670 96335 289006 144503 433510 216755 650266 325133 975400 487700 243850 121925 365776 182888 91444 45722 22861 68584 34292 17146 8573 25720 12860 6430 3215 9646 4823 14470 7235 21706 10853 32560 16280 8140 4070 2035 6106 3053 9160 4580 2290 1145 3436 1718 859 2578 1289 3868 1934 967 2902 1451 4354 2177 6532 3266 1633 4900 2450 1225 3676 1838 919 2758 1379 4138 2069 6208 3104 1552 776 388 194 97 292 146 73 220 110 55 166 83 250 125 376 188 94 47 142 71 214 107 322 161 484 242 121 364 182 91 274 137 412 206 103 310 155 466 233 700 350 175 526 263 790 395 1186 593 1780 890 445 1336 668 334 167 502 251 754 377 1132 566 283 850 425 1276 638 319 958 479 1438 719 2158 1079 3238 1619 4858 2429 7288 3644 1822 911 2734 1367 4102 2051 6154 3077 9232 4616 2308 1154 577 1732 866 433 1300 650 325 976 488 244 122 61 184 92 46 23 70 35 106 53 160 80 40 20 10 5 16 8 4 2 1

In [343]:
# add some formatting...

def collatz(n):
    """Collatz the number..."""
    if type(n) != int or n < 2:
        print('arg must be an int > 1')
        return
    
    count = 0
    
    while n > 1:
        count += 1
        print(f'{n:8d}', end='')
        if count % 10 == 0:
            print()
        if n % 2 == 0:
            n //= 2
        else:
            n = n * 3 + 1
    print(f'{1:8d}')

In [344]:
collatz(6171)

    6171   18514    9257   27772   13886    6943   20830   10415   31246   15623
   46870   23435   70306   35153  105460   52730   26365   79096   39548   19774
    9887   29662   14831   44494   22247   66742   33371  100114   50057  150172
   75086   37543  112630   56315  168946   84473  253420  126710   63355  190066
   95033  285100  142550   71275  213826  106913  320740  160370   80185  240556
  120278   60139  180418   90209  270628  135314   67657  202972  101486   50743
  152230   76115  228346  114173  342520  171260   85630   42815  128446   64223
  192670   96335  289006  144503  433510  216755  650266  325133  975400  487700
  243850  121925  365776  182888   91444   45722   22861   68584   34292   17146
    8573   25720   12860    6430    3215    9646    4823   14470    7235   21706
   10853   32560   16280    8140    4070    2035    6106    3053    9160    4580
    2290    1145    3436    1718     859    2578    1289    3868    1934     967
    2902    1451    4354    2177    6532    3266    1633    4900    2450    1225
    3676    1838     919    2758    1379    4138    2069    6208    3104    1552
     776     388     194      97     292     146      73     220     110      55
     166      83     250     125     376     188      94      47     142      71
     214     107     322     161     484     242     121     364     182      91
     274     137     412     206     103     310     155     466     233     700
     350     175     526     263     790     395    1186     593    1780     890
     445    1336     668     334     167     502     251     754     377    1132
     566     283     850     425    1276     638     319     958     479    1438
     719    2158    1079    3238    1619    4858    2429    7288    3644    1822
     911    2734    1367    4102    2051    6154    3077    9232    4616    2308
    1154     577    1732     866     433    1300     650     325     976     488
     244     122      61     184      92      46      23      70      35     106
      53     160      80      40      20      10       5      16       8       4
       2       1

In [346]:
def sumdigits(num):
    """Sum digits until sum is a single digit."""
    print(f'sumdigits({num})')
    total = 0
    
    for digit in str(num):
        total += int(digit)
        
    if total > 9:
        return sumdigits(total)
    else:
        return total

In [347]:
sumdigits(3627367282891)

sumdigits(3627367282891)
sumdigits(64)
sumdigits(10)

1

# Tour of formatted printing in Python

## Python 2 style

In [333]:
x, y = 2, 5

In [336]:
print('The value of x is %4d, something %s else is %4d' % (x, 'Python', y))

The value of x is    2, something Python else is    5

## Python 3 style

In [337]:
'{} + {} = {}'.format(1, 1, 2)

'1 + 1 = 2'

In [338]:
print('{} + {} = {}'.format(1, 1, 2))

1 + 1 = 2

In [339]:
print('{0} + {0} = {1}'.format(1, 2))

1 + 1 = 2

In [340]:
print('{1} + {1} = {0}'.format(2, 1))

1 + 1 = 2

# Python 3.6+ style (f-strings)
* r'.....' (raw string, no interpretation)
* f'string to be formatted' (format or f-string)

In [341]:
x = 1
y = 3
print(f'{x} + {y} = {x + y}')

1 + 3 = 4

In [342]:
import math
n = 5
print(f'{n}! = {math.factorial(n)}')

5! = 120

({'a': 'b'}, [1, 2, 3], 'this', True)
## Lab: Variable Positional Arguments
* write a function called __`product`__ which accepts a variable number of arguments and returns the product of all of its args. With no args, __`product()`__ should return 1    
​
<pre><b>
>>> product(3, 5)
15
>>> product(1, 2, 3)
6
>>> product(63, 12, 3, 0, 9)
0
>>> product()
1
</b></pre>

In [349]:
def product(*terms):
    """Return the product of all the terms."""
    result = 1
    
    for term in terms:
        result *= term
    
    return result

In [350]:
product()

1

In [351]:
product(3, 5)

15

In [352]:
product(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

3628800

In [353]:
def weird_func(x, y, z, *args, **kwargs):
    print('req args:', x, y, z)
    print('var pos args', args)
    print('var keywd args', kwargs)
    if 'debug' in kwargs:
        if kwargs['debug'] == True: # because it could be false
            turn_on_debugging = True
            print('debug on')
            # utilize some of *args...

In [354]:
weird_func()

TypeError: weird_func() missing 3 required positional arguments: 'x', 'y', and 'z'

In [355]:
weird_func(1, 2, 3)

req args: 1 2 3
var pos args ()
var keywd args {}

In [356]:
weird_func(1, 2, 3, 4, 5, 6)

req args: 1 2 3
var pos args (4, 5, 6)
var keywd args {}

In [357]:
weird_func(1, 2, 3, color='blue', something='nothing')

req args: 1 2 3
var pos args ()
var keywd args {'color': 'blue', 'something': 'nothing'}

In [358]:
weird_func(1, 2, 3, debug=True)

req args: 1 2 3
var pos args ()
var keywd args {'debug': True}
debug on

In [361]:
def f(x, y, z, *args, **kwargs):
    pass

In [360]:
f()

In [362]:
f(x=3, z=2, y=1, debug=True, color='red', x=2)

SyntaxError: keyword argument repeated: x (3131370907.py, line 1)

In [363]:
f(1, 2, 3, debug=False, x='hi')

TypeError: f() got multiple values for argument 'x'

In [364]:
def weird_func(x, y, z, debug_file=None, debug=False):
    print('req args:', x, y, z)
    print('var pos args', debug_file)
    print('var keywd args', debug)

In [365]:
weird_func(1, 2, 3)

req args: 1 2 3
var pos args None
var keywd args False

In [366]:
weird_func(1, 2, 3, debug=True)

req args: 1 2 3
var pos args None
var keywd args True

In [367]:
weird_func(1, 2, 3, debug=True, debug_file='blah.txt')

req args: 1 2 3
var pos args blah.txt
var keywd args True

In [369]:
import sys
sys.version

'3.9.12 (main, Apr  5 2022, 01:53:17) \n[Clang 12.0.0 ]'

In [373]:
def f(a, b, c, debug):
    print(a, b, c)
    print(debug)

In [374]:
f(1, 2, 3, True)

1 2 3
True

In [372]:
f(c=1, a=2, b=3)

2 3 1

In [377]:
def f(a, b, c, *, debug=False):
    print(a, b, c)
    print(debug)

In [378]:
f(1, 2, 3)

1 2 3
False

In [379]:
f(1, 2, 3, True)

TypeError: f() takes 3 positional arguments but 4 were given

In [380]:
f(1, 2, 3, debug=True)

1 2 3
True

In [381]:
f(a=2, c=3, b=1, debug=True)

2 1 3
True

In [383]:
def f(a, b, c, /, *, debug=False):
    print(a, b, c)
    print(debug)

In [384]:
f(a=2, c=1, b=3)

TypeError: f() got some positional-only arguments passed as keyword arguments: 'a, b, c'

In [385]:
import math
help(math.sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [386]:
math.sin(x=math.pi/2.0)

TypeError: math.sin() takes no keyword arguments

In [387]:
sorted(iterable=[1, 3, 2])

TypeError: sorted expected 1 argument, got 0

In [388]:
def sbux(bin1, t2, something, /):
    # some code
    pass